{% extends 'base.html' %}
{% load static %}

{% block title %}Контрагенты{% endblock %}

{% block content %}
<h1>Контрагенты</h1>
<form method="GET" action="{% url 'client_list' %}">
    <label>
        <input type="text" name="q" placeholder="Введите имя клиента">
    </label>
    <input type="submit" value="Поиск">
</form>

 <table>
  <thead>
    <tr>
        <th>Номер</th>
      <th>Контрагент</th>
      <th>Примечание</th>
      <th>Емейл</th>
      <th>Телефон</th>

        <th>Менеджер</th>

    </tr>
  </thead>
  <tbody>
    {% for client in client_list %}
    <tr>
    <td><a title="Нажмите для редактирования  и подробного просмотра" href="{% url 'client_detail' client.id  %}">{{ client.name }}</a></td>
      <td>{{ client.note}}</td>
      <td>{{ client.unp }}</td>
      <td>{{ client.email}}</td>
      <td>{{ client.phone}}</td>
    
    <td>{{  client.user }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>





{% endblock %}
