{% extends "base.html" %}
{% block content %}
<head>
    <title>Детали расчета </title>
</head>
<body>
    <h1>Детали Расчета #{{ calculation.id }}</h1>
       <p>Клиент: {{ calculation.client }}</p>
     <p>Менеджер: {{ calculation.user.first_name }} {{ calculation.user.last_name }}</p>
      <p>Тип доставки: {{ calculation.type_delivery }}</p>
    <p>Базовая цепь: {{ calculation.base_chain }}</p>
    <p>Тип обработки: {{ calculation.type_processing }}</p>
    <p>Общий вес в тонах: {{ calculation.weight }}</p>
    <p>Дней на доставку: {{ calculation.days }}</p>
    <p>Дата расчета: {{ calculation.created }}</p>
    <p>Количество цепи в метрах: {{ calculation.quantity_chains_m }}</p>
    <p>Стоимость за 1 метр: {{ calculation.price_1m }}</p>
    <p>Полная стоимость: {{ calculation.price_full }}</p>
    <p>Цена из модели "Стоимость доставки": {{ calculation.price_calc_weight }}</p>
</body>
{% endblock content %}