{% extends "base.html" %}
{% load static %}

{% block title %}Создание расчета{% endblock %}
<form method="GET" action="{% url 'client_list' %}">
<label>
<input type="text" name="q" placeholder="Введите имя клиента">
</label>
<input type="submit" value="Поиск">
</form>
{% block content %}
<h1>Добавить расчет</h1>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Сохранить</button>
</form>
<script src="{% static "searchableselect/js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "searchableselect/js/searchableselect.js" %}"></script>
{% endblock %}