<!DOCTY{% load static %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head><ul class="nav">
            <li class="nav-item">Вы вошли как - {{ user.fio }} -> <a href="{% url "login" %}">Выйти</a></li>
        </ul>

<meta charset="UTF-8">
<title>{% block title %}Расчет доставки цепей{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/style_base.css' %}">
</head>
<body>
<div class="container">
<div class="sidebar">
<ul class="nav">
<li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Администрирование</a></li>
    <li class="nav-item"><a href="{% url 'calculation-list' %}">Посмотреть все расчеты</a></li>
    <ul class="nav">
    <li class="nav-item"><a href="{% url "calculation-create" %}">Добавить расчет</a></li>
        </ul>
    <li class="nav-item"><a href="{% url 'client_list' %}" class="nav-link">Контрагенты</a></li>
    <ul class="nav">
        <li class="nav-item"><a href="{% url 'client_form' %}" class="nav-link">Добавить контрагента</a></li>

    </ul>
    <ul class="nav">

    </ul>


</ul>
</div>
<div class="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>